name: Release to PyPI

on:
  release:
    types: [published]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: write
  id-token: write

jobs:
  build:
    name: Build wheels (${{ matrix.os }})
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - windows-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          ref: ${{ github.ref }}

      - name: Setup Python
        uses: actions/setup-python@v6

      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install numpy cibuildwheel==3.3.1

      - name: Build wheels
        run: |
          python -m cibuildwheel --output-dir wheels

      - name: Upload wheels
        uses: actions/upload-artifact@v6
        with:
          name: wheels-${{ matrix.os }}
          path: wheels/*.whl

  publish:
    name: Publish to PyPI
    needs: build
    runs-on: ubuntu-latest
    environment: pypi

    steps:
      - name: Download wheels
        uses: actions/download-artifact@v7
        with:
          path: wheels

      - name: Unpack wheels
        run: |
          find wheels -mindepth 2 -type f -name "*.whl" -exec mv {} wheels/ \;
          find wheels -mindepth 1 -type d -exec rm -rf {} +

      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          packages-dir: wheels
