name: Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

permissions:
  id-token: write
  contents: read

jobs:
  build-and-test:
    name: Build and Test
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest]
        python-version: ['3.10', '3.11', '3.12', '3.13', '3.14']

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup uv
        uses: astral-sh/setup-uv@v7

      - name: Install project
        run: uv run bin/build.py install

      - name: Run Pytest
        run: uv run --no-sync pytest -v -n auto --cov --cov-report=xml

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          fail_ci_if_error: true
          use_oidc: true
          verbose: true

      - name: Upload artifacts
        if: always()
        uses: actions/upload-artifact@v6
        with:
          name: build-${{ matrix.os }}-py${{ matrix.python-version }}
          path: |
            build/
            dist/
            .mesonpy/
            build.log
          retention-days: 5
